
html {
  height: 100%;
  transition: background-image 1s ease-in-out;
}

.site-title {
  text-align: center;
  margin-top: 55px;
}

.app {
  flex-wrap: wrap-reverse;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 700px;
  margin: 93px auto;
}